.countdown {
    background-color: var(--countdown-bgr);
}

.countdown-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
    width: 100%;    
}

.date-containers {
    display: flex;
    flex-direction: column;
    flex-basis: 25%;
}

.countdown-label, .countdown-date-values {
    text-align: center;
    justify-content: center;
    font-size: 1.5rem;
}

.countdown-date-values {
    font-size: clamp(50px, 10vw, 150px);


}

/* MONITOR */
@media (min-width:600px) {
    .countdown-container {
        flex-direction: row;
    }
}

